<div class="container">
  <mat-card *ngIf="edit">
  <form (submit)="editUser(editForm,user!.id)" #editForm="ngForm">
  <mat-form-field>
         <textarea matInput
           name="name"
           ngModel
           required
           minlength="3"
           placeholder="Enter new name"
           #name="ngModel"
         ></textarea>
         <mat-error *ngIf="name.invalid && name.touched">
           <mat-error *ngIf="name.errors?.required">Name is required</mat-error>
           <mat-error *ngIf="name.errors?.minlength">Name must contain 3 characters at least</mat-error>
         </mat-error>

</mat-form-field>
  <mat-form-field>
         <textarea matInput
           name="email"
           ngModel
           required
           email
           minlength="3"
           placeholder="Enter new email"
           #email="ngModel"
         ></textarea>
          <mat-error *ngIf="email.invalid && email.touched">
           <mat-error *ngIf="email.errors?.required">Email is required</mat-error>
           <mat-error *ngIf="email.errors?.email">Email in not valid</mat-error>
         </mat-error>
</mat-form-field>
  <mat-form-field>
         <textarea matInput
          name="username"
          ngModel
          required
          minlength="6"
          placeholder="Enter new username"
          #username="ngModel"
         ></textarea>
          <mat-error *ngIf="username.invalid && username.touched">
           <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
           <mat-error *ngIf="username.errors?.minlength">Username must contain 6 characters at least</mat-error>
         </mat-error></mat-form-field>
<button
mat-raised-button
color="accent"
type="submit"
[disabled]="editForm.invalid"
>Save edit</button>
<button
(click)="onHide()"
mat-raised-button
type="button"
color="Warn"
>
  Hide
</button>
</form>
</mat-card>
<mat-accordion  *ngIf="!edit">
  <mat-expansion-panel (opened)="panelOpenState = true" hideToggle
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{user?.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{user?.username}}
      </mat-panel-description>
      <button mat-raised-button color="primary" class="center" (click)="showTem()">Edit</button>
    </mat-expansion-panel-header>
    <p>{{user?.email}}</p>
        <div class="example-button-container" >
        <button mat-fab color="warn" (click)="deleteUser(user!.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
  </mat-expansion-panel>
</mat-accordion>
</div>
